# Игнорировать папку Applications в корне репозитория
/Applications/

# (опционально) Игнорировать любые папки с именем Applications на любых уровнях
**/Applications/

/dist/
/build/
/__pycache__/

.DS_Store
